@model IEnumerable<TpfinalBack.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaDespacho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.fechaDespacho)
            </td>
            <td>
                @Html.DisplayFor(model => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(model => item.Confirmado)
            </td>
            <td>
                @Html.DisplayFor(model => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(model => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(model => item.Detalles)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
